body{
    background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
    display: flex;
   
    height: 100%;
}



.container {
    width: 99.99%;
    height: 99.99%;
    border-radius: 1%;
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1.5fr 1fr 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas:
        "header header nav nav search"
        "sidebar main main article article"
        "sidebar main-sub main-sub blog blog"
        "sidebar important important important important"
        "sidebar contact-form contact-form out-web out-web";
}

/* Example area assignments for your HTML elements: */
.header   { grid-area: header; }
.nav      { grid-area: nav; }
.search   { grid-area: search; }
.sidebar  { grid-area: sidebar; }
.main-sub { grid-area: main-sub; }
.article  { grid-area: article; }
.blog     { grid-area: blog; }
.important{ grid-area: important; }

.contact-form   { grid-area: contact-form; }
.out-web       { grid-area: out-web; }





@media (max-width: 678px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "search"
            "sidebar"
            "main-sub"
            "article"
            "blog"
            "important"
            "contact-form"
            "out-web";
        gap: 20px;
    }
    .header        { grid-area: header; }
    .nav           { grid-area: nav; }
    .search        { grid-area: search; }
    .sidebar       { grid-area: sidebar; }
    .main-sub      { grid-area: main-sub; }
    .article       { grid-area: article; }
    .blog          { grid-area: blog; }
    .important     { grid-area: important; }
    .contact-form  { grid-area: contact-form; }
    .out-web       { grid-area: out-web; }
}
